---
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import initiatives from "../../configs/initiatives.json";

export async function getStaticPaths() {
  return initiatives.map((item) => ({
    params: { id: item.readMoreHref.split("/").pop() },
  }));
}

const { id } = Astro.params;

const initiative = initiatives.find(
  (item) => item.readMoreHref.split("/").pop() === id
);

if (!initiative) {
  throw new Error(`Initiative not found for ID: ${id}`);
}
---

<main class="flex flex-col min-h-screen">
  <Navbar />

  <div class="flex flex-row justify-center flex-grow m-12 gap-8">
    <!-- Left side: Image -->
    <div class="w-1/2 flex justify-center items-center">
      <img 
        src={'/assets/initiatives_pics/' + initiative.imageName} 
        alt={'/assets/initiatives_pics/pic_def.png'} 
        class="w-full max-w-md h-auto rounded-lg shadow-md"
      />
    </div>

    <!-- Right side: Text -->
    <div class="flex flex-col text-left w-1/2 gap-4">
      <h2 class="text-xl font-semibold underline">{initiative.title}</h2>
      <div class="text-md font-light">
        {initiative.readMoreData.split("\n").map((line) => (
          <p class="mb-2">{line}</p>
        ))}
      </div>
    </div>
  </div>

  <Footer />
</main>
