---
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import initiatives from "../../configs/initiatives.json";

export async function getStaticPaths() {
  return initiatives.map((item) => ({
    params: { id: item.readMoreHref.split("/").pop() },
  }));
}

const { id } = Astro.params;

const initiative = initiatives.find(
  (item) => item.readMoreHref.split("/").pop() === id
);

if (!initiative) {
  throw new Error(`Initiative not found for ID: ${id}`);
}
---

<main class="flex flex-col min-h-screen">
  <Navbar />
  <div
    class="flex flex-col justify-center text-left flex-grow w-1/2 ml-auto m-12 gap-4"
  >
    <span class="text-xl font-semibold underline">{initiative.title}</span>
    <span class="text-md font-light">{initiative.readMoreData}</span>
  </div>
  <Footer />
</main>
