---
import Navbar from "../components/Navbar.astro";
import Landing from "./Landing.astro";
import Carousel from "../components/Carousel.astro";
import "../styles/global.css";

import initiatives from "../configs/initiatives.json";
import projects from "../configs/projects.json";
import { Bike, Brush, GraduationCap, Leaf, Sprout } from "lucide-astro";
---

<Navbar />
<Landing />
<div class="bg-white flex flex-col">
    <!-- Director's Message -->
    <div class="flex w-fit m-8 p-8 justify-around align-middle">
        <img src="/assets/director.png" class="w-2/5 h-2/5 z-10" />
        <div class="w-full ml-8 p-2 my-auto">
            <span class="text-2xl font-semibold">Message from our Director</span>
            <p class="mt-8 font-light">
                Dear friends,
                <p class="mt-4 font-light">
                    As we journey towards a sustainable future through
                    Inventing & Innovating in Technology for Humanity (IITH), I am delighted
                    to showcase IITH's initiatives aligned with the UN's 17 SDGs. Our
                    institution has made significant strides in achieving sustainability
                    goals, which an admirable progress. Today, I emphasize our commitment to
                    key aspects of our Sustainability Policy, including promoting
                    innovation, addressing the SDGs, and striving for a greener and more
                    equitable world. Together, we can make a lasting impact and contribute
                    to a better future for all.
                </p>
                <a href="/" class="text-emerald-600">Read more....</a>
            </p>
        </div>
    </div>
    <!-- About IITH Sustainability -->
    <div class="flex w-fit m-8 p-8 justify-around align-middle">
        <img src="/assets/hostels.png" class="w-2/5 h-2/5 z-10" />
        <div class="w-full ml-8 p-2 my-auto">
            <span class="text-2xl font-semibold">About IIT Hyderabad Sustainability</span>
            <p class="mt-8 font-light flex flex-col gap-2">
                <span>
                IIT Hyderabad is at the forefront of sustainability, addressing climate change through innovative research, practical actions, and capacity building. With a vision to create an eco-friendly campus, IITH integrates cutting-edge technology with impactful initiatives to reduce its environmental footprint and inspire global climate action.
                </span><span>
                Recognized for its efforts, IITH received the Haritha Haram Award in 2022, presented by Shri K T Rama Rao, Honorable Minister of Telangana, for its commitment to green practices. Strengthening its focus on sustainability, IITH partnered with Greenko to establish the School for Sustainable Science and Technology, advancing research in renewable energy, waste management, and environmental resilience.
                </span><span>
                On campus, sustainability is embedded in daily operations. The 1 MW solar power plant, radiant cooling system, and zero waste policy demonstrate IITH’s dedication to eco-friendly infrastructure. Initiatives like biodigesters, composting, and wastewater recycling ensure efficient resource management.
                </span><span>
                Students play a vital role in sustainability, participating in clean-up drives, plantation activities, and cycling promotion programs. These efforts cultivate a culture of environmental responsibility.
                </span><span>
                With its innovative practices and active student involvement, IIT Hyderabad is paving the way for a greener future, inspiring sustainable living across the globe
                </span>
            </p>
        </div>
    </div>
    <!-- Our Sustainability Initiatives -->
    <span class="text-2xl text-center font-bold">Our Sustainability Initiatives</span>
    <Carousel data={initiatives} isImaged={false}/>
    <!-- Featured Projects -->
    <span class="text-2xl text-center font-bold">Featured Projects</span>
    <Carousel data={projects} isImaged={true}/>
    <!-- Targets -->
    <img src="/assets/hostels2.png" class="w-full mt-12"/>
    <!-- Student Engagement -->
    <div class="flex w-full m-12 p-6 justify-around items-center">
        <div class="flex flex-col max-w-lg">
            <div class="text-2xl font-bold mb-4">Student Engagement in Sustainability</div>
            <ul class="space-y-4">
                <li class="flex items-start space-x-3">
                    <Brush class="text-emerald-600 scale-75"/>
                    <div>
                        <span class="font-bold">Monthly Clean-up Drives</span>
                        <p class="text-gray-600">Regular campus clean-up initiatives led by student volunteers.</p>
                    </div>
                </li>
                <li class="flex items-start space-x-3">
                    <Sprout class="text-emerald-600 scale-75"/>
                    <div>
                        <span class="font-bold">Plantation Events</span>
                        <p class="text-gray-600">Regular tree plantation drives to enhance campus greenery.</p>
                    </div>
                </li>
                <li class="flex items-start space-x-3">
                    <Bike class="text-emerald-600 scale-75"/>
                    <div>
                        <span class="font-bold">Cycling Culture</span>
                        <p class="text-gray-600">Reimbursement scheme to promote bicycle usage on campus.</p>
                    </div>
                </li>
                <li class="flex items-start space-x-3">
                    <Leaf class="text-emerald-600 scale-75"/>
                    <div>
                        <span class="font-bold">Prakriti Club</span>
                        <p class="text-gray-600">A club for nature enthusiasts to contribute effortlessly.</p>
                    </div>
                </li>
                <li class="flex items-start space-x-3">
                    <GraduationCap class="text-emerald-600 scale-75"/>
                    <div>
                        <span class="font-bold">Prayas - The Rural Developing Club</span>
                        <p class="text-gray-600">Focuses on holistic growth and rural community development.</p>
                    </div>
                </li>
            </ul>
        </div>
        <img src="/assets/sideImg.png" class="w-1/3 rounded-lg"/>
    </div>
    <!-- Video Highlights -->
    <span class="text-2xl ml-48 font-bold">Video Highlights of our progress</span>
</div>