---
import "keen-slider/keen-slider.min.css";
const { data = [] } = Astro.props;
---

<div id="carousel" class="keen-slider w-full flex gap-4">
  {data.map((item, index) => (
    <div
      key={index}
      class="keen-slider__slide bg-white text-xl max-w-xs md:max-w-sm text-black shadow-xl p-6 font-bold rounded-lg mb-12"
    >
      <h3 class="text-lg font-semibold">{item.title}</h3>
      <p class="font-light text-sm mb-2">{item.description}</p>
      <a href={item.readMoreHref} class="text-emerald-600 font-light text-sm">
        Read More ->
      </a>
    </div>
  ))}
</div>

<script>
  import KeenSlider from 'keen-slider';

  const slider = new KeenSlider('#carousel', {
    slides: {
      perView: 1.25,
      spacing: 30,
    },
    breakpoints: {
      '(min-width: 768px)': {
        slides: {
          perView: 2,
          spacing: 20,
        },
      },
      '(min-width: 1024px)': {
        slides: {
          perView: 3,
          spacing: 20,
        },
      },
    },
  });
</script>
