---
const { data = [], isImage = false} = Astro.props;
---

<div class="keen-slider flex gap-4">
    {data.map((item) => (
        <div class="keen-slider__slide bg-white text-xl max-w-[0.3] text-black shadow-xl p-12 font-bold rounded-lg mb-12">
            <h3>{item.title}</h3>
            <p class="font-light text-sm">{item.description}</p>
            <a href={item.readMoreHref} class="text-emerald-600 font-light text-sm">
                Read More ->
            </a>
        </div>
    ))}
</div>

<script type="module">
    import KeenSlider from "keen-slider";
    import "keen-slider/keen-slider.min.css";

    document.addEventListener("DOMContentLoaded", () => {
        new KeenSlider(".keen-slider", {
            loop: true,
            slides: {
                perView: 2,
                spacing: 20,
            },
        });
    });
</script>
