---
import "../styles/global.css";
---

<header
  class="bg-black opacity-70 text-white py-4 px-8 flex items-center justify-between fixed top-0 left-0 w-full z-50 backdrop-blur-md"
>
  <div class="flex items-center space-x-4">
    <img src="/assets/logo.png" alt="IIT Hyderabad Logo" class="h-12" />
  </div>
  <nav>
    <ul class="flex space-x-6 text-sm">
      <li><a href="/" class="hover:text-orange-400">Home</a></li>
      <li><a href="/about" class="hover:text-orange-400">About</a></li>
      <li>
        <a href="/initiatives" class="hover:text-orange-400">Initiatives</a>
      </li>
      <li><a href="/projects" class="hover:text-orange-400">Projects</a></li>
      <li><a href="/events" class="hover:text-orange-400">Events</a></li>
      <li>
        <a href="/student-led-activities" class="hover:text-orange-400"
          >Student Led Activities</a>
      </li>
      <li>
        <a href="/targets-for-future" class="hover:text-orange-400"
          >Targets for Future</a>
      </li>
      <li>
        <a href="/video-highlights" class="hover:text-orange-400"
          >Video Highlights</a>
      </li>
    </ul>
  </nav>
</header>
